

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#main{
	margin-top: 20px;
}

.filter{

}

#categoryList{
	max-height: 200px;
	overflow: auto;
}

.right{
	float: right;
}